{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Book detail page{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-3">
                <img class="book-img" src="{{ book.picture.url }}" alt="">
            </div>
            <div class="col-6">
                <h3>{{ book.title }}</h3>
                <span class="fst-italic">
                   Authored by
                    {% for book_author in book.bookauthor_set.all %}
                        {{ book_author.author.full_name }}
                    {% endfor %}
                </span>
                <p>{{ book.description }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <form action="{% url 'books:review' book.id %}" method="post">
                    {% csrf_token %}
                    {{ review_form | crispy }}
                    <button class="btn btn-success" type="submit">Add review</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        {% if book.bookreview_set.exists %}
            <h4>Reviews</h4>
            <hr>
            {% for review in book.bookreview_set.all %}
                <div class="row">
                    <div class="col-1 me-3">
                        <img class="small-img" src="{{ review.user.profile_pic.url }}" alt="">
                    </div>
                    <div class="col-6">
                        <b>{{ review.user.username }}</b> rated it {{ review.stars }} stars
                        <span class="fw-lighter">{{ review.created_at }}</span>
                        {% if review.user == request.user %}
                            <a href="{% url 'books:edit-review' book.id review.id %}"><i class="bi bi-pen-fill"></i></a>
                            <a href="{% url 'books:confirm-delete-review' book.id review.id %}"><i
                                    class="bi bi-trash"></i></a>
                        {% endif %}
                        <p class="mt-2 font-monospace fs-6">{{ review.comment }}</p>
                    </div>
                </div>

            {% endfor %}
        {% endif %}
    </div>
{% endblock %}