{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Edit Review {% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-4">
                <form action="{% url 'books:edit-review' book.id review.id %}" method="post">
                    {% csrf_token %}
                    {{ review_form | crispy }}
                    <button class="btn btn-success" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}