{% extends 'base.html' %}
{% block title %}Books lists page{% endblock %}

{% block content %}
    <div class="container">
        <h1>Books</h1>

        {% if books %}
            {% for book in books %}
                <div class="row mb-4">
                    <div class="col-3">
                        <img class="book-img" src="{{ book.picture.url }}" alt="">
                    </div>
                    <div class="col-6">
                        <a href="{% url 'books-detail' book.id %}">{{ book.title }}</a>
                        <p href="{% url 'books-detail' book.id %}">{{ book.description }}</p>

                    </div>
                </div>

            {% endfor %}

        {% else %}
            No book found
        {% endif %}
    </div>
{% endblock %}