.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.book-img {
    width: 300px;
    height: 300px;
}
.small-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}